/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Blanc pour la couleur de fond */
    color: #333333; /* Couleur du texte principale */
    margin: 0;
}

header {
    background-color: #ffa500; /* Orange pour le header */
    width: auto;
    height: auto;
    padding: 8px;
    margin: 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 8;
}
#map{
    height: 55vh;
    z-index: 6;
}

.title {
    font-size: 2em; /* Taille de police du titre */
    font-family: 'Segoe Script', cursive; /* Police de titre alternative */
    color: #ffffff; /* Couleur du texte pour le titre */
}

.main {
    padding: 20px;
}

.section-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffa500; /* Couleur du titre de section */
}

.annonce {
    background-color: #f8f9fa;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px; /* Coins arrondis pour les annonces */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère pour les annonces */
}

.top-annonces {
    display: flex;
}

.top-annonces > * {
    margin: 8px;
}

.annonce_container {
    margin: 15px;
}


button{
    aspect-ratio: 1/1;
    width: 26px;
    height: 26px;
    background-color: #ffa500;
    border: 2px solid #cc890f;
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    padding: 1px;
}

.marker-lost{
    filter: hue-rotate(155deg)
}

.marker-found{
    filter: hue-rotate(290deg)
}

.marker-seen{
    filter: hue-rotate(217deg) brightness(1.3)
}

button:hover {
    background-color: #cc890f;
}


/* Styles spécifiques pour les appareils mobiles */
@media only screen and (min-width: 600px) {
    /* Ajoutez des styles spécifiques aux appareils plus larges ici si nécessaire */
}